:root {
    /* ==================================== */
    /* 🎨 PALETA DE COLORES (AZUL/GRIS)         */
    /* ==================================== */
    --color-principal: #3498DB;          /* Azul Principal (Elementos clave, Botones) */
    --color-secundario: #2ECC71;         /* Verde Acento (Éxito, Disponibilidad) */
    --color-acento: #E67E22;            /* Naranja Acento (Alertas, Ofertas) */
    --color-alerta: #e62222;            /* Usamos el Naranja Acento para alertas */

    --color-fondo-claro: #ECF0F1;       /* Gris Neutro (Fondo general del panel) */
    --color-fondo-base: #FFFFFF;        /* Blanco Puro (Cajas de producto, Tarjetas) */
    --color-fondo-oscuro: #858585;      /* Gris Oscuro (Texto principal, legible) */
    
    --color-texto-oscuro: #34495E;      /* Gris Oscuro (Texto principal, legible) */
    --color-texto-secundario: #757575;  /* Gris Medio (para descripciones) */
    --color-texto-claro: #FFFFFF;            /* Blanco (Texto sobre color principal) */

    /* ==================================== */
    /*  TIPOGRAFÍA */
    /* ==================================== */
    --tipografia-principal: 'Roboto', sans-serif;
    --tipografia-secundaria: 'Open Sans', sans-serif;

    --tipografia-mediana: 30px;


    /* ==================================== */
    /*  BORDES  */
    /* ==================================== */
    --borde-radio-small: 4px;
    --borde-radio-medium: 8px;
    --borde-radio-circle: 50%;

}
aside{
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto-claro);
    height: 100vh;
    width: 400px;
    font-size: var(--tipografia-mediana);
    font-family: var(--tipografia-principal);
    margin: 0%;
    

}
.flexColumna {
    display: flex;
    flex-direction: column;
    gap: 100px;

}
.listaSinEstilo{
    list-style: none;
}
body{
    margin: 0;
}